body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0,auto;
}
header{
    padding: 30px auto;
    text-align: center;
    background-color: #afddfd;
}
.logo{
    width: 150px;
}
section{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin:0,auto;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}
.menu{
    margin: 15,auto,25, auto; 
    padding-bottom: 50px;
}
.menu a{
   font-size: 18px;
   color:#1d1d1d;
   border-bottom:2px solid #1d1d1d;
   text-decoration: none;
   margin: 0 10px;
}
.banner{
    margin-top: 50px;
    padding-top: 0;
}
span{
    font-weight: bold;
}
h1{
    color:#1d1d1d;
    margin-bottom: 5px;
}
h2{
    color:#1c81c0;
}
.sobre{
    margin-left: auto;
    margin-right: auto;
}
.sobre img{
    width: 450px;
}
.texto-azul{
    color:#1d80c1;
}